.root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_wrap {
  width: 450px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 2px 10px rgba($color: #000000, $alpha: 0.3);
  padding: 48px 48px 24px 24px;
}
