.header {
  font-size: 68px;
  color: white;
  padding: 24px 0;
  letter-spacing: 1px;
  padding: 0;
  padding-left: 15px;
  background-color: goldenrod;
  display: flex;
  justify-content: space-between;
  align-content: center;

  a {
    font-size: 16px;
    padding: 20px 25px;
  }
}
